.bodytag
{
  background-color:aliceblue;
}
.summa{
  height: 80vh;
  background-image:url("Screenshot.png");
  padding: 40px; 
  background-repeat: no-repeat; 
   background-size: cover;
}
.aboutcss
{
  margin-left: 44%;
  margin-top: 5%;
  font-size: 70px;
  color: white;
}
.box2{
   width: 30%;
}
.seperatebox  {
  display: flex;
   margin-top: 10%;
    gap: 10px;
    width: 45vw;
    height: 50vh;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 100px;
     margin-left: 450px;
    background:white;
    cursor: pointer;
    overflow: hidden;
  }
  .seperatebox1
  {
    font-size: 25px;
    width: 100%;
  }
  .seperatebox2
  {
    height: 700px;
    width: 400px;
    margin-top: -10px;
  }
.box-1{
    font-size:35px;text-align: left;
}

.box-2{
  font-family: serif;
    font-size: 25px;
    text-align: left;
    margin-right: 100px;
}

  .up-mission{
  margin-top: 15%;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    background-color:#eae6da;
  }
   .mission-img{
    background-image: url('https://images.pexels.com/photos/2931251/pexels-photo-2931251.jpeg?auto=compress&cs=tinysrgb&w=1600');
    width: 40vw;
}
.mission-img img{
  width: 30vw;
  height: 35vh;
  margin-top: 6%;
  margin-left: 40%;
  z-index: 0;
}
  .mission
  {
    margin-right: 3%;
    font-family: sans-serif;
    font-size: 26px;
    color: black ;
    padding: 20px;    
  }

  .why{
    margin-top: 5%;
    display: flex;
    background-color: white;
    justify-content: space-between;
  }
  .why2{
    margin-left: 5%;
    font-size:30px ;
    font-family: sans-serif;
  }
   .why3
  {
    background-image: url('https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?auto=compress&cs=tinysrgb&w=1600');
    width: 45vw;
    height: 46vh;
  }
  .why3 img{
    width: 30vw;
  height: 35vh;
  margin-top: 6%;
  margin-left: -12%;
  }

  .why4{
    margin-left: 45px;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
  .foot{
    background-color: black;
    height: 40vh;
    color: white;
  }
  .foot .icon{
    color: white;
    padding-left: 40%;
    padding-bottom: 1%;
  }
  .footer{
    background-color: black;
    gap: 5%;
    display: flex;
    margin-top: 5%;
    width: 100vw;
    font-size: 20px;
  }
  .how{
    margin-top: 1.2%;
    padding: 10px;
    margin-left: 4%;
    color: aliceblue;
    font-size: 22px;
  }
  .footer g{
    color: gold;
  }
  .us{
    padding:32px;
    font-size: 22px;
    color: white;
  }
  .life{
    color: red;
  }
  .health{
    color: green;
  }
  .edu{
    color: blue;
  }
  .child{
    color:chocolate;
  }

  .ouot
  {
    margin-left: 55%;
    font-size: 20px;
    color: white;
  }
 